<div id="cover-image" class="ui vertical masthead center aligned segment"></div>

<div id="introduction" class="ui vertical stripe segment" style="display: table; width: 100%;">
  <div class="ui middle aligned grid container" style="display: table-cell; vertical-align: middle;">
    <div class="row">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <p id="intro-text" class="font-amatic">
          Hai, Kawan!
          <br><br>
          Blog yang kamu baca sekarang merupakan cerita pengalaman-pengalaman sepanjang perjalanan Rudi mengelilingi dunia. Semuanya dituangkan dan diceritakan di sini agar suatu saat nanti dapat dikenang kembali.
          <br><br>
          Rudi sangat terinspirasi untuk melihat keindahan setiap negara yang tersembunyi di balik pintu kedatangan. Awalnya, Rudi mulai tertarik karena dulu saat dia kecil, Rudi senang membaca banyak hal tentang sejarah dunia, flora fauna, maupun geografi yang dari berbagai sumber seperti ensiklopedia, buku pelajaran sekolah, dan majalah National Geographic. Berangkat dari rasa ingin-tahu itu, Rudi berpikir betapa asyiknya kalau seandainya bisa mengalami secara langsung apa yang dia baca selama ini.
          <br><br>
          Pada satu kesempatan, Rudi pergi ke Iran (karena iseng), dan dia berpikir, bagaimana bila pada kehidupannya yang sebelumnya, dia merupakan seorang pedagang di era Jalur Sutra, di mana dia menghabiskan hidupnya berkeliling dunia, berdagang dan berbagi cerita tentang segala petualangan dan ekspedisinya dengan orang-orang yang ditemuinya di sepanjang jalan.
          <br><br>
          Dari sanalah lahir rudithemerchant.com, di mana Rudi dapat mengabadikan dan berbagi cerita pengalaman bertualang ke berbagai destinasi dunia sambil berjualan barang-barang yang dia temukan dari beberapa destinasi. Kamu (ya, kamu!) diundang untuk ikut bertualang bersama dan ikut mencicipi asyiknya keliling dunia.
          <br><br>
          Attraversiamo!
        </p>
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally grid">
    <div class="center aligned row">
      <div class="column">
        <h2 class="font-poppins">LATEST UPDATES</h2>
      </div>
    </div>
    <div class="row">
      <div class="two wide column"></div>
      <div class="six wide center aligned column">
        <img class="ui centered image update-images" src="../assets/images/iran.jpg">
        <p class="font-amatic update-title">Iran trip</p>
        <p class="font-amatic update-date">June 2017</p>
      </div>
      <div class="six wide center aligned column">
        <img class="ui centered image update-images" src="../assets/images/thailand.jpg">
        <p class="font-amatic update-title">Thailand trip</p>
        <p class="font-amatic update-date">June 2017</p>
      </div>
    </div>
    <div class="row">
      <div class="two wide column"></div>
      <div class="six wide center aligned column">
        <img class="ui centered image update-images" src="../assets/images/maldives.jpg">
        <p class="font-amatic update-title">Maldives trip</p>
        <p class="font-amatic update-date">May 2017</p>
      </div>
      <div class="six wide center aligned column">
        <img class="ui centered image update-images" src="../assets/images/korea.jpg">
        <p class="font-amatic update-title">Korea trip</p>
        <p class="font-amatic update-date">April 2017</p>
      </div>
    </div>
  </div>
</div>

<div id="connect" class="ui vertical stripe segment" style="display: table; width: 100%;">
  <div class="ui middle aligned grid container" style="display: table-cell; vertical-align: middle;">
    <div class="row">
      <div class="four wide column"></div>
      <div id="connect-text" class="eight wide center aligned column">
        <p class="font-amatic" style="font-size: 48px; margin-bottom: 20px;">
          The world is a book, and those who do not travel read only a page
        </p>
        <div class="ui mini images">
          <a href="https://www.facebook.com/robert.rudini.7" target="_blank">
            <img class="ui image" src="../assets/images/facebook.png">
          </a>
          <a href="https://twitter.com/rudiniway" target="_blank">
            <img class="ui image" src="../assets/images/twitter.png">
          </a>
          <a href="https://www.instagram.com/rudiniway/" target="_blank">
            <img class="ui image" src="../assets/images/instagram.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>